*

!.gitignore

!python_code/
!python_code/*
!python_code/*/**

!docs/
!docs/assets/
!docs/assets/**
!docs/index.html
!docs/day0.html
!docs/day1.html
!docs/day2.html
!docs/day3.html
!docs/day4.html
!docs/day5.html
!docs/day6.html
!docs/day7.html
!docs/day8.html
!docs/day9.html
!docs/day10.html
!docs/day11.html
!LICENSE
!README.md