# Ignore everything
*

# Don't ignore .gitignore itself
!.gitignore

# Specifically track the 'scripts' directory and some files within it
!docs/
!docs/assets/
!docs/assets/**
!docs/index.html
!docs/day0.html
!docs/day1.html
!LICENSE
!README.md